@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background-image: url("/gradient1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-gradient2 {
    background-image: url("/gradient2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tablet {
    background-image: url("/tablet.svg");
}